@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');


body {
    font-family: 'DotGothic16', sans-serif;
    background-color: black;
}

header,
h1,
h2,
h3 {
    text-align: center;
    color: rgba(4, 123, 34, 0.37);
    font-weight: bolder;

}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: rgba(2, 50, 8, 0);
    box-shadow: 0 8px 29px 0 rgba(4, 123, 34, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
}

img {
    text-align: center;
    width: 200px;
    height: 200px;
    padding: 20px;
}